body {
  text-align: center;
  font-family: 'Hind', sans-serif;
  background-image: url(../img/stripes.png);
}

h1 {
  font-family: 'Hind', sans-serif;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
}

h3{
  font-family: 'Hind', sans-serif;
  text-decoration: underline;
}
p{
  font-family: 'Hind', sans-serif;
  font-style: italic;
}
input {
  margin-bottom: 20px;
}

li {
  margin: 10px 0;
  list-style-type: none;
  text-align: left;
  font-size: 20px;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, 
.mdl-button--accent.mdl-button--accent.mdl-button--fab{
  background-color: #3f51b5;
}









  width: 20%;
  height: 45px;
}